In [1]:
import pandas as pd

In [2]:
df_train=pd.read_csv('dataset/train.csv', encoding = "ISO-8859-1")

In [3]:
df_train.head(50)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1
10,16,NaN,NaN,Three people died from the heat wave so far,1
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1
15,23,NaN,NaN,What's up man?,0
16,24,NaN,NaN,I love fruits,0
17,25,NaN,NaN,Summer is lovely,0
18,26,NaN,NaN,My car is so fast,0
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0
20,31,NaN,NaN,this is ridiculous....,0
21,32,NaN,NaN,London is cool ;),0
22,33,NaN,NaN,Love skiing,0
23,34,NaN,NaN,What a wonderful day!,0
24,36,NaN,NaN,LOOOOOOL,0
25,37,NaN,NaN,No way...I can't eat that shit,0
26,38,NaN,NaN,Was in NYC last week!,0
27,39,NaN,NaN,Love my girlfriend,0
28,40,NaN,NaN,Cooool :),0
29,41,NaN,NaN,Do you like pasta?,0
30,44,NaN,NaN,The end!,0
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
36,54,ablaze,Pretoria,@PhDSquares #mufc they've built so much hype a...,0
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1
38,56,ablaze,NaN,Barbados #Bridgetown JAMAICA ÂÃÃ Two cars s...,1
39,57,ablaze,Paranaque City,Ablaze for you Lord :D,0
40,59,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0
41,61,ablaze,NaN,on the outside you're ablaze and alive\nbut yo...,0
42,62,ablaze,milky way,Had an awesome time visiting the CFC head offi...,0
43,63,ablaze,NaN,SOOOO PUMPED FOR ABLAZE ???? @southridgelife,0
44,64,ablaze,NaN,I wanted to set Chicago ablaze with my preachi...,0
45,65,ablaze,NaN,I gained 3 followers in the last week. You? Kn...,0
46,66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West was burned: Thousands of wildfire...,1
47,67,ablaze,NaN,Building the perfect tracklist to life leave t...,0
48,68,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,0
49,71,ablaze,England.,First night with retainers in. It's quite weir...,0

In [4]:
# Removing punctuations and do lower case for training data(text)
train_data=df_train.iloc[:,3:4]
train_data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

new_Index=[str(i) for i in range(1)]
train_data.columns= new_Index
for index in new_Index:
    train_data[index]=train_data[index].str.lower()
    
train_data.head(5)

                                                   0
0  our deeds are the reason of this  earthquake m...
1             forest fire near la ronge sask  canada
2  all residents asked to  shelter in place  are ...
3         people receive  wildfires evacuation or...
4  just got sent this photo from ruby  alaska as ...

In [5]:
df_test=pd.read_csv('dataset/test.csv', encoding = "ISO-8859-1")
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
# Removing punctuations and do lower case for test data
test_data=df_test.iloc[:,3:4]
test_data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

new_Index=[str(i) for i in range(1)]
test_data.columns= [0]
test_data[0]=test_data[0].str.lower()
        
test_data.head()

                                                   0
0                 just happened a terrible car crash
1  heard about  earthquake is different cities  s...
2  there is a forest fire at spot pond  geese are...
3           apocalypse lighting   spokane  wildfires
4      typhoon soudelor kills    in china and taiwan

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [8]:
## implement BAG OF WORDS
countvector=CountVectorizer(ngram_range=(2,2))
traindataset=countvector.fit_transform(train_data['0'].tolist())

In [9]:
# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(traindataset,df_train['target'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
test_data_transformed = countvector.transform(test_data[0].tolist())
predictions = randomclassifier.predict(test_data_transformed)

In [12]:
submission = pd.DataFrame({
        "id": df_test['id'],
        "target": predictions
    })
submission.to_csv('submission1.csv', index=False)
print('Exported')

Exported

# To check accuracy break training data into training and validations and then 
# Import library to check accuracy
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
matrix=confusion_matrix(df_valid['target'],prediction)
print(matrix)
score=accuracy_score(df_valid['target'],prediction)
print(score)
report=classification_report(df_valid['target'],prediction)
print(report)

In [245]:
t1 = countvector.transform(["damage to school bus on 80 in multi car crash in newyork","enjoying cricket game at lords","three people died from the heat wave so far in india","50 killed in earthquake in pakistan","I'm on flying in plane and I can see a fire in forests"])
p1 = randomclassifier.predict(t1)
p1

array([1, 0, 1, 1, 1])