In [1]:
import pandas as pd

In [2]:
df_train=pd.read_csv('dataset/train.csv', encoding = "ISO-8859-1")

In [1]:
df_train.head(5)

NameError: name 'df_train' is not defined

In [4]:
# Removing punctuations and do lower case for training data(text)
train_data=df_train.iloc[:,3:4]
train_data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

new_Index=[str(i) for i in range(1)]
train_data.columns= new_Index
for index in new_Index:
    train_data[index]=train_data[index].str.lower()
    
train_data.head(5)

                                                   0
0  our deeds are the reason of this  earthquake m...
1             forest fire near la ronge sask  canada
2  all residents asked to  shelter in place  are ...
3         people receive  wildfires evacuation or...
4  just got sent this photo from ruby  alaska as ...

In [5]:
df_test=pd.read_csv('dataset/test.csv', encoding = "ISO-8859-1")
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
# Removing punctuations and do lower case for test data
test_data=df_test.iloc[:,3:4]
test_data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

new_Index=[str(i) for i in range(1)]
test_data.columns= [0]
test_data[0]=test_data[0].str.lower()
        
test_data.head()

                                                   0
0                 just happened a terrible car crash
1  heard about  earthquake is different cities  s...
2  there is a forest fire at spot pond  geese are...
3           apocalypse lighting   spokane  wildfires
4      typhoon soudelor kills    in china and taiwan

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [8]:
## implement BAG OF WORDS
countvector=CountVectorizer(ngram_range=(2,2))
traindataset=countvector.fit_transform(train_data['0'].tolist())

In [9]:
# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(traindataset,df_train['target'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
test_data_transformed = countvector.transform(test_data[0].tolist())
predictions = randomclassifier.predict(test_data_transformed)

In [12]:
submission = pd.DataFrame({
        "id": df_test['id'],
        "target": predictions
    })
submission.to_csv('submissions/submission1.csv', index=False)
print('Exported')

Exported

# To check accuracy break training data into training and validations and then 
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
matrix=confusion_matrix(df_valid['target'],prediction)
print(matrix)
score=accuracy_score(df_valid['target'],prediction)
print(score)
report=classification_report(df_valid['target'],prediction)
print(report)

In [245]:
t1 = countvector.transform(["damage to school bus on 80 in multi car crash in newyork","enjoying cricket game at lords","three people died from the heat wave so far in india","50 killed in earthquake in pakistan","I'm on flying in plane and I can see a fire in forests"])
p1 = randomclassifier.predict(t1)
p1

array([1, 0, 1, 1, 1])